{{define "common/footer"}}
<!-- <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.js"></script> -->
<!-- <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.js"></script> -->


</div>
<hr>

<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        talk is cheap, show me code.
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2019 <a href="#" target="_blank">show me your code</a>.</strong> All rights reserved.
</footer>

</body>

</html>

{{end}}
<!-- 原文链接：https://blog.csdn.net/zizhilianqiu/article/details/85251216 -->